<!DOCTYPE html>
<html>
<head>
  <title>Hyperimage</title>
  <%= stylesheet_link_tag    "hyperimage/application", :media => "all" %>
  <%= javascript_include_tag "hyperimage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
